.home_page {
    position: relative;

    margin-top: 10vh;
    margin-left: 35vh;
    display: flex;
    
    width: fit-content;
}

.homepage_title {
    margin-inline: 3vw;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.8em;
    font-weight: 700;
    line-height: 1;
}

.home_page_body {
    display: grid;
    text-align: left;
}


@media (max-width: 1400px) {
    .homepage_title {
        font-size: 4em; /* Slightly smaller for large tablets or small desktops */
    }
}

@media (max-width: 1200px) {
    .homepage_title {
        font-size: 3em; /* Adjust for tablets and small laptops */
        text-align: center; /* Center the text on smaller screens */
    }
}

@media (max-width: 1000px) {
    .homepage_title {
        font-size: 2em; /* Further reduce for mobile devices */
        text-align: center;
    }
}