.video-container video {
    border-radius: 8px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2);
}

.add_button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add_button:hover {
    background-color: #45a049;
}