.navbar_container {}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;

  top: 45px;
}


.header {
  position: fixed;
  background-color: black;
  padding: 1%;

  top: 0;
  height: fit-content;
  width: -webkit-fill-available;

  z-index: 1;

}

.header::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 0.8vh;
  left: 0;
  bottom: 0%;

  background-image: linear-gradient(90deg,
      #FF0000 0%,
      #FF0000 10%,
      #FF6F00 10%,
      #FF6F00 20%,
      #FFD700 20%,
      #FFD700 30%,
      #ADFF2F 30%,
      #ADFF2F 40%,
      #00FF00 40%,
      #00FF00 50%,
      #00FA9A 50%,
      #00FA9A 60%,
      #00bfff 60%,
      #00BFFF 70%,
      #1E90FF 70%,
      #040506 80%,
      #000000 80%,
      #000000 90%,
      #2c1111 90%,
      #d3ac00 100%);
}


.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  padding: 15px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 8px;
}

.navbar li {
  cursor: pointer;
  position: relative;
}

.navbar li.select a {
  background: linear-gradient(135deg, #D04848, #F96C6C);
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar li:hover a {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FDE767;
}

.navbar li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: #FDE767;
  transition: width 0.3s ease;
}

.navbar li:hover::before {
  width: 100%;
}

@media (max-width: 1000px) {
  .navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
  }

  .navbar li {
    width: -webkit-fill-available;
  }
}