.gallery_header {
    text-align: center;
    margin: 20px;
}

.gallery_title {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    color: #333;

    margin: 10px;

}

.video_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-left: 14vw;
}

.video_container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 5vh;

    height: fit-content;
}

.responsive-video {
    width: 100%;
    border-radius: 4px;
}

.profile_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.remove_video_button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.remove_video_button:hover {
    background-color: #b32a00;
    transform: scale(1.05);
}

.profile_button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.video_button:active,
.profile_button:active {
    background-color: #003d7a;
}

.empty_gallery {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    padding: 0%;
    margin: 0%;
    margin-top: 20vh;
}


@media (max-width: 1000px) {
    .gallery_header {
        text-align: center;
        margin-top: 50px;
    }
}