.App {
  text-align: center;
  position: relative;
}


.sticky_header {
  color: aliceblue;
  font-weight: 600;
  text-decoration: none;

}

@media (max-width: 1000px) {
  .header {
    height: 6vh;
  }
}