.App {
  text-align: center;
  position: relative;
}

.header {
  background-color: black;
  padding: 1%;

}

.header::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 0.8vh;
  top: 5.8vh;
  left: 0;
  bottom: 0%;
  background-image: linear-gradient(90deg,
      #FF0000 0%,
      #FF0000 10%,
      #FF6F00 10%,
      #FF6F00 20%,
      #FFD700 20%,
      #FFD700 30%,
      #ADFF2F 30%,
      #ADFF2F 40%,
      #00FF00 40%,
      #00FF00 50%,
      #00FA9A 50%,
      #00FA9A 60%,
      #00bfff 60%,
      #00BFFF 70%,
      #1E90FF 70%,
      #040506 80%,
      #000000 80%,
      #000000 90%,
      #2c1111 90%,
      #d3ac00 100%

    );
}

.sticky_header {
  color: aliceblue;
  font-weight: 600;
  text-decoration: none;

}

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
} */